#video {
  position: absolute;
  pointer-events: none;
}

#main_video {
  position: absolute;
  pointer-events: none;
  left:100px;
  top: 100px;
}

.drawing {
  position: absolute;
  pointer-events: none;
}